@import "./defaults.scss";

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 1rem;

    a {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }

  #log_type{
    text-align: center;
    font-weight: bold;
  }
}
