{% extends 'base.html' %}

<!-- Block Begin -->
{% block head %}
<!--  -->
<title>Delete User</title>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/user.css') }}"
/>
{% endblock %}
<!-- Block End -->

<!-- Block Begin -->
{% block body %}
<div class="container">
  <h1>Remove User</h1>

  <form action="/admin/user/deleted" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter an existing username"
        minlength="4"
        required
        id="username"
        name="username"
        autofocus
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label for="password">Your Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="admin_password"
        minlength="8"
        required
        placeholder="This is to confirm the delete."
      />
    </div>

    <br />
    <button type="submit" class="btn btn-outline-danger">Remove User</button>
  </form>
</div>

{% if notfound %}
<script>
  alert("User not found");
</script>
{% endif %}
<!--  -->
{% if userdeleted %}
<script>
  alert("User successfully deleted");
</script>
{% endif %}
<!--  -->
{% if ismod %}
<script>
  alert("Cannot remove other mods.");
</script>
{% endif %}
<!--  -->
{% if wrongpass %}
<script>
  alert("Password is incorrect");
</script>
{% endif %}
<!--  -->
{% endblock %}
<!-- Block End -->
