{% extends 'base.html' %}

<!-- Block Begin -->
{% block head %}
<title>Rules</title>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/rules.css') }}"
/>
{% endblock %}
<!-- Block End -->

<!-- Block Begin -->
{% block body %}
<div class="container">
  <h1 class="center">Site Rules</h1>
  <div class="row">
    <div class="col">
      <h2>Short Version</h2>
      <ul>
        <li>
          No
          <span data-toggle="tooltip" title="Child Porn" data-placement="right"
            >CP</span
          >
        </li>
        <li>No Gore</li>
        <li>No Other Illegal Stuff</li>
        <li>
          Only
          <span
            data-toggle="tooltip"
            title="Torrents you created that is on NO other websites"
            data-placement="right"
            >private torrents</span
          >
        </li>
        <li>Don't share torrents</li>
        <li>Seed</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Long Version</h2>
      <p>
        It goes without saying, illegal stuff is obviously off-limits, except
        for copyrighted content such as movies. Child pornography, gore,
        viruses, or anything of the sort is
        <b>NOT</b> allowed. In terms of torrents, the only torrents you're
        allowed to add are torrents you created yourself, torrents you found on
        other websites such as The Pirate Bay are strictly not allowed. Torrents
        on this website are not allowed to be shared anywhere else. If you
        torrent something, seed it if you are a
        <span
          data-toggle="tooltip"
          title="Someone who doesn't seed"
          data-placement="right"
          >leecher</span
        >
        and we find out about it, you'll be permanently banned, immediately.
        Things such as movies/videos/porn, games, anime/hentai are all allowed.
      </p>

      <p>
        Breaking any of the above rules can and probably will result in a
        permanent ban from the website. These rules also apply to the mods, if
        they break it then their mod status will be removed or they will be
        removed from the website entirely.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Questions?</h3>
      <p>
        If you're on this website, it means you're on the group as well, if you
        have any questions, ask there and a mod will help you.
      </p>
    </div>
  </div>

  <hr />

  <h4>FAQs</h4>
  <div class="row">
    <div class="col-md-3 faq">
      <h5>How do I create a torrent?</h5>
      <p>
        It's fairly simple, here is a video that explains it:
        <a href="https://youtu.be/xuamHl8V4vQ" target="_blank">Right Here</a>
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>Why keep the website so private?</h5>
      <p>
        It's safe, keeping torrents (especially copyrighted ones) between only a
        few users keeps the copyright people away, no US$5000 bills or threats.
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>Why am I getting an "Internal Server Error"?</h5>
      <p>
        The server is very slow and we lack the funds to upgrade it. If you get
        the error, try reloading the page.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 faq">
      <h5>What is seeding?</h5>
      <p>
        After you fully downloaded a torrent, you stay connected to that torrent
        so someone else can download the torrent from you later.
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>I don't have a constant internet connection</h5>
      <p>
        Fine, just put that in the description of all your torrents and seed the
        torrent whenever someone asks you to on the group. Note that if you fail
        to ever seed the file, we'll remove it and if you're being suspected of
        being a leecher we'll remove your account.
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>How do I stay a good torrent owner?</h5>
      <p>
        Simple, seed it as much as possible and if you're the only seed and you
        want to remove it or lost the file, delete it from the site.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 faq">
      <h5>Can I invite my friend?</h5>
      <p>If you're a mod.</p>
    </div>

    <div class="col-md-3 faq">
      <h5>How do I create a new account?</h5>
      <p>
        You can't, only mods can. If you forgot your password and/or username,
        contact a mod.
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>I added a new torrent, but don't see it anywhere.</h5>
      <p>
        Server may be a little slow, if it doesn't appear after a day, add it
        again.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 faq">
      <h5>A mod/user is harrasing me.</h5>
      <p>Contact a mod and report them immediately (remember proof).</p>
    </div>

    <div class="col-md-3 faq">
      <h5>Someone asked me for my account details.</h5>
      <p>
        Unless you are trying to get back into your account after forgetting
        your password, no one will ever ask you for your details. Only give
        details to mods in the group, if someone claims to be a mod but isn't in
        the group, report and ignore them.
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>I want a new feature.</h5>
      <p>Suggest the feature on the group and it will be considered.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 faq">
      <h5>How can I help?</h5>
      <p>
        Seed and report. If you know HTML, SCSS, JavaScript, jQuery, Python or
        Flask then you can ask a dev on the group to let you help with building
        the website. Or donate here:
        <a href="https://www.paypal.me/stephenvdw" target="_blank">PayPal</a>.
      </p>
    </div>

    <div class="col-md-3 faq">
      <h5>I want to leave the website.</h5>
      <p>Ask a mod to delete your account (this will be permanent).</p>
    </div>

    <div class="col-md-3 faq">
      <h5>A torrent has no seeds!</h5>
      <p>Ask the group to seed it.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 faq">
      <h5>Why is the site so basic?</h5>
      <p>Loads fast, doesn't need to be the NASA of websites.</p>
    </div>
  </div>
</div>

<!--  -->
{% endblock %}
<!-- Block End -->
